<div id="<%= dom_id product %>" class="products-list">
  
  <div>
    <strong>Name:</strong>
    <%= product.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= product.description %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= product.price %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= product.stock %>
  </div>
  <div>
    <strong>feedback:</strong>
   <%= @product&.feedback || "there is no data" %>
  </div>

  <div>
   <strong class="active <%= product.is_active ? 'status-green' : 'status-red' %>">active</strong>
    <%= product.is_active %>
</strong>

  </div>

  <div>
  <button class="buy">Buy</button>
  <button class="cart">Add to Cart</button>
  </div>

 
</div>

<style>

.products-list {
  background: #ffffff;
  border: 3px solid #e5e7eb;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  font-family: sans-serif;
  color: #374151;
}


.products-list div {
  margin-bottom: 10px;
  font-size: 14px;
}

.products-list strong {
  color: #111827;
  margin-right: 5px;
}

.status-green {
  color: #059669; 
  background: #ecfdf5;
  padding: 2px 6px;
  border-radius: 4px;
}

.status-red {
  color: #dc2626; 
  background: #fef2f2;
  padding: 2px 6px;
  border-radius: 4px;
}

.buy, .cart {
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  transition: all 0.2s;
}


.buy {
  background:black;
  color: white;
  border: 1px solid #2563eb;
}

.cart {
  background: #ffffff;
  color: #374151;
  border: 1px solid #d1d5db;
}


</style>
