<center>
<p style="color: green"><%= notice %></p>

<%= render @product %>
<br>
<br>
<br>

<div>
  <%= link_to "Edit this product", edit_product_path(@product), class:"btn-primary"  %>      |     
  <%= link_to "Back to products", products_path, class:"btn-primary"  %>
  <br>
  <br>
  <br>
  <%= button_to "Destroy this product", @product, method: :delete %>
 
</div></center>
<style>

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #253342;
}
</style>
