

<div>
  <div>
    
    <div>
      <h1>Welcome</h1>
      <p>Enter your details to get started.</p>
    </div>

    <%= form_with(model: customer) do |form| %> 
      


      
      <% if customer.errors.any? %>
        <div>
          <p>Oops! There were some issues:</p>
          <ul>
            <% customer.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
       

   <div>
  <%= form.text_field :name, maxlength: 50 %>  
  <%= form.text_field :name,
        placeholder: "e.g. Alex Rivera",
        required: true %>
</div>


      <div>
        <%= form.label :email, "Email address" %>
        <%= form.email_field :email, placeholder: "alex@company.com" %>
      </div>

      <%= form.submit "Create Account" %>
      
      <p>
        By continuing, you agree to our <a href="#">Terms of Service</a>.
      </p>

    <% end %>

  </div>
</div>