<div>
  <h2>Customer Details</h2>

  <div>
    <strong>Name:</strong>
    <p><%= @customer.name %></p>
  </div>

  <div>
    <strong>Email:</strong>
    <p><%= @customer.email %></p>
  </div>

  <div>
    <strong>About Me:</strong>
    <div>
      <%= @customer.about_me %>
    </div>
  </div>
 <div>
  <strong>profile_photo:</strong>
  <div>
    <% if @customer.profile_photo.attached? %>
      <%= image_tag @customer.profile_photo %>
    <% else %>
      <p>No photo uploaded</p>
    <% end %>
  </div>
</div>

  <div>
    <%= link_to "Edit", edit_customer_path(@customer) %> |
    <%= link_to "Back", customers_path %>
  </div>
</div>
